<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="person01" class="com.atguigu.boot.bean.Person">
        <property name="name" value="xiaochen"/>
        <property name="age" value="18"/>
    </bean>
    <bean id="cat01" class="com.atguigu.boot.bean.Pet">
        <property name="name" value="喵喵"/>
    </bean>
</beans>